@font-face {
  font-family: 'Comic Sans MS';
  src: url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Light.eot');
  src: url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Light.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Light.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Light.ttf')  format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: 'Comic Sans MS';
  src: url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Light-Oblique.eot');
  src: url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Light-Oblique.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Light-Oblique.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Light-Oblique.ttf')  format('truetype');
  font-weight: 100;
  font-style: oblique;
}
@font-face {
  font-family: 'Comic Sans MS';
  src: url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Regular.eot');
  src: url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Regular.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Regular.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Regular.ttf')  format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Comic Sans MS';
  src: url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Regular-Oblique.eot');
  src: url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Regular-Oblique.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Regular-Oblique.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Regular-Oblique.ttf')  format('truetype');
  font-weight: 300;
  font-style: oblique;
}
@font-face {
  font-family: 'Comic Sans MS';
  src: url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Bold.eot');
  src: url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Bold.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Bold.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Bold.ttf')  format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Comic Sans MS';
  src: url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Bold-Oblique.eot');
  src: url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Bold-Oblique.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Bold-Oblique.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Bold-Oblique.ttf')  format('truetype');
  font-weight: 700;
  font-style: oblique;
}
@font-face {
  font-family: cursive;
  src: url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Light.eot');
  src: url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Light.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Light.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Light.ttf')  format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: cursive;
  src: url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Light-Oblique.eot');
  src: url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Light-Oblique.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Light-Oblique.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Light-Oblique.ttf')  format('truetype');
  font-weight: 100;
  font-style: oblique;
}
@font-face {
  font-family: cursive;
  src: url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Regular.eot');
  src: url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Regular.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Regular.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Regular.ttf')  format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: cursive;
  src: url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Regular-Oblique.eot');
  src: url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Regular-Oblique.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Regular-Oblique.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Regular-Oblique.ttf')  format('truetype');
  font-weight: 300;
  font-style: oblique;
}
@font-face {
  font-family: cursive;
  src: url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Bold.eot');
  src: url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Bold.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Bold.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Bold.ttf')  format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: cursive;
  src: url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Bold-Oblique.eot');
  src: url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Bold-Oblique.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Bold-Oblique.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/crozynski/comicneue@2.4/Web/ComicNeue-Bold-Oblique.ttf')  format('truetype');
  font-weight: 700;
  font-style: oblique;
}
